*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html body {
	text-rendering: optimizeLegibility;
	font-family: "Poppins", sans-serif;
}

header {
	width: 100%;
	height: 100vh;
}

nav{
	width: 100%;
	height: 60px;
	background: linear-gradient(to right,  #D7199D, #D7190D);
	color: white;
	top: 0;
	left: 0;
	position: fixed;
	z-index: 1;
}

nav ul{
	list-style: none;
	text-align: center;
	padding: 1rem 3rem;
}

nav ul li{
	display: inline-block;
	margin: 0;
	padding: 0;
}

nav ul li a:link,
nav ul li a:visited{
	text-decoration: none;
	color: white;
	margin-left: 8px;
	border-bottom: 2px transparent;
	transition: border-bottom .25s;
	font-size: 18px;
	font-weight: 500;
}

nav ul li a:hover,
nav ul li a:active{
	border-bottom: 2px solid #fff;
}




/***** ICONS *****/

.footer-icon{
    color: #D7199D;
    cursor: pointer;
}

.col .footer-icon span{
    color: white;
}



footer{
    width: 100%;
    height: 100%;
    background-color: #222;
    color: white;
    left: 0;
    bottom: 0;
}

.footer-container{
    margin: 0 12rem;
}

.row{
    width: 1140px;
    padding: 16px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.row .col h5{
    font-size: 22px;
    font-weight: 300;
    color: #D7199D;

}

.row .col i span{
   margin-left: 1rem;
}

.row .col .icon{
    font-size: 18px;
}

.row .col i a{
   margin-left: 1rem;
   text-decoration: none;
   color: white;
   transition: text-decoration .25s;
}
.row .col i a:hover{
   text-decoration: underline;
}