/*==================================
imitialisation
====================================
*/
body{
    background-color:rgb(36, 23, 23);
}

/*
=====================================
Header
=====================================
*/

header{
	width: 100%;
}

.logo, .nav{
	display: inline-block;
}

.logo{
	color: azure;
	font-family: sans-serif;
	font-size: 35px;
    font-weight: 900;
    vertical-align: top;
    font-family: Algerian;
}

.logo b{
    margin-top: 0;
	color: gold;
    font-weight: 900;
    float:left;
}

.header {
	position: fixed;
}



/*
=====================================
Home
=====================================
*/

.h3{
    color:black;
    font-family: Algerian;
}
.h1{
	color: rgb(82, 64, 163);
	letter-spacing: -3px;
    font-weight: 900;
    font-family: Algerian;
}
.home{
    position: absolute;
	padding: 14% 2%;
    margin-bottom: 3rem ;
    text-align: center;
    left: 0;
    width: 20%;
    background-color: honeydew;
}

.home .container{
    position: absolute;
    background-color: blanchedalmond;
    top: 0;
    left: 0;
    vertical-align: top;
    width: 100%;
    
}
.home .container{
	display: inline-block;
}

i{
	height: 5%;
	width: 10%;
	border: 3px white solid;
	text-align: center;
	padding: 1%;
	margin:0 0 2% 3%;
	border-radius: 100%;
}




/*
=====================================
Button
=====================================
*/

.btn{
	border-radius: 25px;
    font-size: .55rem;
    color: #fff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
	margin: 0;
    text-decoration: none;
    width: 7%;
    float: right;
}

.btn-alt{
    border: 2px solid #fff;
    padding:10px 30px 10px 30px;
    text-align: center;
}
.btn-alt:hover{
	background-color: rgb(82, 64, 163);
    font-size: .6rem;
}
