*{
    padding: 0;
    margin: 0;


}

.main h1, .right h1{
    padding-top: 40%;
}

body{
    width: 100%;
    height: 100vh;

}

.first{
    width: 97.4%;
    height: 74.9%;
    padding: 1%;
}
.container {
    vertical-align: middle;
    border: 1px solid black;
    font-family: sans-serif;
}

.main{
    padding-left: 2%;
    position: absolute;
    left: 1%;
    display: inline-block;
    width: 71%;
    height: 76%;
}
.right{
    position: absolute;
    right: .5%;
    width: 23%;
    margin-right: 1%;
}

.top, .bottom{
    width: 99.4%;
    height: 10%;
    text-align: center;
}
.banner{
    height: 30%;
}
 .widget{
     position: absolute;
     top: 44%;
     height: 44%;
 }

.bottom{
    position: absolute;
    bottom: 0;
    left: 0;
}