html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
	font-family: sans-serif;
	color: white;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/*
=====================================
Typography
=====================================
*/
h1, h3, h4, h5, p{
    margin-bottom: 22px;
}

h1, h2, h3, h4{
    color: #648880;
}

h1{
    font-size: 56px;
    line-height: 44px;
}

h2{
    font-size: 24px;
    line-height: 44px;
}

h3{
    font-size: 16px;
}
h4{
    font-size: 18px;
}

h5{
    color: #a9b2b9;
    font-size: 14px;
    font-weight: 400px;
    text-transform: uppercase;
}

strong{
    font-weight: 400px;
}

cite, em{
    font-style: italic;
}


body{
	background-color: black;
}

/*
=====================================
Header
=====================================
*/

header{
	width: 100%;
	background-color: black;

}

.logo, .nav{
	display: inline-block;
}

.logo{
	padding-top: .3%;
	margin-left: 5%;
	color: azure;
	font-family: sans-serif;
	font-size: 35px;
	font-weight: 900;
}

.logo b{
	color: rgb(82, 64, 163);
	font-weight: 900;
}
.header {
	position: fixed;
}

nav{
	float: right;
	width: 30%;
}


.nav li{
	display: inline-block;
	text-align: center;
	padding: 4.5% 1% 4% 0;
	margin:0 0 0 10% ;
	border-radius: 5px;
	width: 20%;
}

.nav li a{
	text-decoration: none;
	text-align: center;
	color: white;
	padding: 0 auto;
	font-size: .9em;
}

.nav li:hover{

	background-color: rgb(82, 64, 163);
	transition: background-color, .3s;
}


/*
=====================================
Home
=====================================
*/

.h3{
	color: white;
}
.h1{
	color: rgb(82, 64, 163);
	letter-spacing: -3px;
	font-weight: 900;
}
.home{
	padding-top: 14%;
	margin-bottom: 3rem ;
}

.home .container{
	float: left;
	margin-left: 4%;
	width: 60%;
}
.home .container, .pp{
	display: inline-block;
	vertical-align: middle;
}
.pp{
	width: 23rem;
	height: 23rem;
	border-radius: 50%;
}
i{
	height: 5%;
	width: 4%;
	border: 3px white solid;
	text-align: center;
	padding: 1%;
	margin:0 0 2% 3%;
	border-radius: 100%;
}



/*
=====================================
Button
=====================================
*/

.btn{
	border-radius: 25px;
	font-size: .55rem;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    letter-spacing: .5px;
    text-transform: uppercase;
	margin: 0;
	text-decoration: none;
}

.btn-alt{
    border: 2px solid #fff;
    padding:10px 30px;
}
.btn-alt:hover{
	background-color: rgb(82, 64, 163);
	font-size: .6rem;
}

/*
===========================
Project
===========================
*/
.projects{
	height: 100vh;
	width: 90%;
	padding-left: 5%;
	padding-right: 5%;
	display: inline-block;
	
}

.title{
	 font-size: 2rem;
	 font-weight: 800;
	 text-align: center;
}

.picture1{
	background-image: url(../images/1.jpeg);
	background-size: 100% 100%;
	display: inline-block;
	border-radius: 10px;
	color: white;
	width: 47%;
	height: 68%;
	vertical-align: top;
	margin:0 2rem 2rem 0;
}

.picture2{
	background-image: url(../images/2.jpeg);
	background-size: 100% 100%;
	display: inline-block;
	border-radius: 10px;
	color: white;
	width: 47%;
	height: 68%;
	vertical-align: top;
	margin: 0 2rem 0 0;
}

.picture3{
	background-image: url(../images/2.jpeg);
	background-size: 100% 100%;
	display: inline-block;
	border-radius: 10px;
	color: white;
	width: 47%;
	height: 68%;
	vertical-align: top;
	margin: 0 2rem 2rem 0;
}

.picture4{
	background-image: url(../images/1.jpeg);
	background-size: 100% 100%;
	display: inline-block;
	border-radius: 10px;
	color: white;
	width: 47%;
	height: 68%;
	vertical-align: top;
	margin: 0 2rem 0 0;
}


