*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family:  Langar ,sans-serif;
}

body{
    height: 100vh;
    width: 100%;
    background-color: black;
}
.container{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    width: 21rem;
    padding: 3rem;
    box-shadow: 0 0 .4px rgba(0, 0, 0, .1);
    transform: translate(-50%, -50%);
    background: white;
}

.container .text{
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    font-family: Lobster;
    color: blue;
}

.container form{
    margin-top: 2%;
}

.container form .data{
    height: 2rem;
    width: 100%;
    margin: 2rem 0;
}

.container form .data input{
    width: 100%;
    height: 100%;
    padding-left: .3rem;
    font-size: .8rem;
    border: 1px solid lightgrey;
    border-radius: 15px;
    padding-left: 1rem;
}
form .data input:hover, form .data input:focus{
    box-shadow: 0 1px 1px black;
}

.btn{
    margin: 1rem 0;
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    justify-items: center;
}

.inner{
    height: 8%;
    width: 30%;
    border-radius: 15px;
    position: absolute;
    background: teal;
    z-index: 1;
    transition: all .4s;
    box-shadow: none;
    border:0px ;
}

.btn:hover .inner{
    background: rgb(66, 223, 223);
    color: rgb(255, 255, 255);
    width: 70%;
    font-size: 1.2rem;
    border-radius: 15px;
    text-transform: capitalize;
}
.sign-in{
    text-align: right;
}

a{
    text-decoration: none;
    color: blue;
}

a:hover, a:focus{
    color: rgb(247, 28, 28);
}