*{
    margin: 0;
    padding:0%;
    font-family: IndieFlower;
}

.register-form{
    width: 100%;
    height: 100vh;
}

fieldset{
    width: 21rem;
    padding: .5rem 1rem 2rem 1rem;
    background-color: rgba(150, 206, 104, 0.733);
}

img{
    border-radius: 60%;
    border: double 2px greenyellow;
    box-shadow: 0 -0.2rem .5rem greenyellow;
    margin: 0 1rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:6% 25% ;
}

.input-container{
    display: inline-block;

}

label{
    font-family: Beautiful_Roses;
}
input[type="text"],input[type="date"],input[type="email"]{
    padding:0 40px;
    width:12rem;
    height:2rem;
    border: 1px solid yellowgreen;
    background-color:#f5f8fa !important;
    color: grey;
    text-align:justify;
    outline: none;
    letter-spacing: .1rem;
    font-size: 1rem;
    border-radius:30px;
}
.fa{
    margin: 0;
    padding: 0;
}

.fa-pencil-square{
    color: rgb(115, 168, 36);
}
.fa-trash{
    color: red;
}
.fa-times-circle{
    color: red;
}

.close{
    float: right;
    background-color: transparent;
    border: none;
}
.input-container button{
    width: 1.3rem;
    height: 1.3rem;
    background: linear-gradient(to top, transparent, lightgrey);
    border: .1rem solid green;
}
.input-container button:hover{
    width: 2rem;
    border-radius: 25%;
    color: black;
    background: linear-gradient(to bottom, transparent, lightgrey);
}
.input-container button:hover .fa{
    width: 1.5rem;
    height: 1.5rem;
}

.register-btn{
    width: 3rem;
    border-radius: 15%;
    float: right;
    margin-top: 2rem;
    margin-right: .8rem;
    background-color: yellowgreen;
    border: solid .1rem green;
}
.register-btn:hover{
    background: linear-gradient(to top, transparent, greenyellow);
}
