body{
    margin: 0;
    padding: 0;
    width: 100%;
    background-image: url(IMG_20201106_182331.jpg);
    
    background-size: cover;
}
.header{
    padding-top: 0px;
    margin-top: 0px;
    background-color: rgba(44, 44, 49, 0.692);
    height: 100vh;
}

.nav-bar{
    display: inline-block;
    background-color: black;
    opacity: .9;
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

.nav-logo{
    width: 20%;
}

.nav-block{
    width: 600px;
    float: right;
    margin: 0;
    padding: 0;
}
span i{
    font-size: 30px;
    font-weight: 300px;
    font-family: fantasy;
    color: goldenrod;
}
span {
    font-size: 30px;
    font-family: Lucida Handwriting;
    color: white;
}

span b{
color:lightslategray ;
}
#mick{
    font-size: 20px;
    font-family: Vivaldi;
    color: white;
}
ul{
    margin: 0;
    padding:0 0 2px 0 ;
}

ul li {
    width: 197px;
    display: inline-table;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;

}
a{
    text-decoration: none;
    color: white;
    font-family: Lucida Handwriting, Forte;
}
.main li:hover , .main li:focus{
    font-size: 20px;
    transition: font-size, 1s;
}
.main li:hover a , .main li:focus a{
    font-size: 20px;
    color: gold;
    transition: color, .5s;
}

.header-main{
    position: absolute;
    vertical-align: top;
}

.about-div{
    margin: 20px 0 0 20px;
    height: 428px;
    display: inline-block;
    vertical-align: top;
    width: 30%;
    background-color: rgba(255, 235, 205, 0.363);
    padding-left: 10px;
    padding-right: 10px;
    box-shadow: 0 5px 5px 2px white;
}

.icons i{
    text-align: center;
    display: inline-block;
    width: 100px ;
    height: 50px;
    vertical-align: top;
    margin-top: 20px;
}
i b{
    font-family: Algerian   ;
}

.portfolio-div{
    float: right;
    margin-top: 20px;
    margin-right: 20px;
    display: inline-block;
    width: 50%;
    background-color: rgba(255, 235, 205, 0.363);
    font-weight: bold;
    padding-top: 5px;
    padding-left: 10px;
    height: 420px;
    box-shadow: 0 5px 5px 2px white;
}

.img1{  
    position: relative;
    box-shadow: black;
    left: 220px;
    top: -2px;
    float: left;
}

.img2{
    height: 380px;
    width: 200px;
    float: left;
    margin-right: 10px;

}
.about-div h3{
    padding: 5px  0  5px 0;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}
.about-div p{
    position: relative;
    top: -150px;
    width: 200px;
    text-align: justify;
}

.icons{
    top: -10px;
    position: relative;
}

.portfolio-div .icons p{
    display: inline-block;
    width: 300px;
    padding: none;
}

.testimonial{
    padding: 10px;
    text-emphasis: top;
    position: relative;
    background-color: rgba(255, 235, 205, 0.363);
}
.testi img{
    float: left;
    margin: 5px 5px 0 5px;
    box-shadow: 2px 2px 2px black;
    border-radius: 25% ;
}

.testi{
    display: inline-block;
    width: 23%;
    height: 200px;
    vertical-align: top;
    box-shadow: 2px 2px 2px darkgray;
    padding: 2px;
    text-align: justify;
    background-color: rgba(169, 169, 169, 0.555);
    margin-right: 16px;
}
footer{
    background-color:white;
}
footer div{
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 32%;
    padding: 5px;
    text-align: center;

}
.maker-div{
    padding-left: 15px;
}

footer div a{
    color: red;
    display: inline;
}
footer span i{
    font-size: 10px;
}