
@import url('../css/fonts.css');


html,body{
  margin: 0%;
  padding: 0%;
  box-sizing:border-box;
  overflow-x:hidden;
}
header{
  max-height: 100vh;
}

a{
  text-decoration: none;
}

/*============Global Classes=============*/
  a{
    text-decoration: none;
  }

  .flex-row{
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
  }

  h1{
    font-family: POLYA;
    font-weight: lighter;
    font-size: 5rem;
  }

  h3{
    font-family: IndieFlower;
    font-size: 3rem;
  }

  .btn{
    border: none;
    border-radius: 2rem;
    padding: 1rem 3rem;
    cursor: pointer;
  }
/*============Global Classes=============*/

/*============navbar=============*/
.nav-logo{
  padding: 1.4rem 0;
  z-index: 5;
}
.nav-logo>a>span>i{
  font-size: 30px;
  color: goldenrod;
}
.nav-logo>a>span>b{
  font-size: 10px;
  color:black;
}
.nav-logo>a>span{
  font-family: IndieFlower;
  font-size: 30px;
  color:black;
}

.nav .nav-menu{
  justify-content: space-between;
}

.nav .toggle-collapse{
  position: absolute;
  top: 0;
  width: 90%;
  cursor: pointer;
}

.nav .toggle-collapse .toggle-icons{
  display: flex;
  justify-content: flex-end;
  padding: 1.7rem 0;
}

 #btn{
  padding-left: 2px;
  font-size: 1.4rem;
  visibility: hidden;
  z-index: 5;
}

.collapse{
  height: 20rem;
}

.nav .nav-items{
  list-style-type: none;
  display: flex;
  visibility: visible;
  margin: 0;
  padding: 0;

}


.nav .nav-items .nav-link a{
  color: rgb(96, 166, 223);
}
.nav .nav-items .nav-link:hover{
  transition: all, .1s;
  background-color: rgb(96, 166, 223);
}

.nav .nav-items .nav-link:hover a{
  color: goldenrod;
  transition: all, .1s;
}


.nav .nav-items .nav-link{
  padding: 1.6rem 1rem;
  font-size: 1.1rem;
  position: relative;
  font-family: Lobster;
}

nav{
  background-color: white;
   justify-content: space-between;
   padding: 0 2rem;
   margin: 0;
   height: 0rem;
   min-height:13vh;
   overflow: hidden;
   transition: height 1s ease-in-out;
}

.nav .nav-brand a{
  font-size: 1.6rem;
  padding: 1rem 0;
  text-decoration: none;
}

.nav .social{
  padding: 1.4rem 0;
  z-index: 4;
}
.fa{
  height: 2rem;
  width: 2rem;
  margin: .5rem .1rem 0 .1rem;
}
.fa:hover{
  color: rgb(88, 176, 248);
  transition: all, .4s;
}


/*=====X======navbar=======X=====*/

/*    Viewport less then or equal to equal   */
@media only screen and (max-width: 800px){
  .nav-menu, .flex-row, .nav-items{
    flex-direction: column;
}
.nav-items{
  visibility: hidden;
}
.nav-items .nav-link, .social{
  visibility: hidden;
}

#btn {
  visibility: visible;
}


}

@media only screen and (max-width: 900px){
  
h1{
  font-family: POLYA;
  font-weight: lighter;
  font-size: 3rem;
}

h3{
  width: 100%;
  font-family: IndieFlower;
  font-size: 2rem;
  }

}
@media only screen and (min-height: 720px){
  main .site-title .site-bg{
    margin: 10%;
    text-align: center;
    color: blanchedalmond;
    z-index: 2;
   }
}
@media only screen and (max-height: 380px){
  
  h1{
    font-family: POLYA;
    font-weight: lighter;
    font-size: 2rem;
  }
  
  h3{
    width: 100%;
    font-family: IndieFlower;
    font-size: 1rem;
  }
   
  .nav-menu{
    height: 30vh;
  }
}

/*  X  Viewport less then or equal to equal   X    */


/*===========Main============*/

/*==========Site title===========*/
   main .site-title{
    clip-path: polygon(50% 0%, 77% 14%, 100% 0, 100% 81%, 80% 100%, 49% 80%, 23% 100%, 0 84%, 0 0, 22% 14%);
     background-color: rgb(96, 166, 223);
     background-repeat: no-repeat;
     background-size: cover;
     height: 90vh;
     display: flex;
     justify-content: center;
     z-index: 5;
   }
  
   main .site-title .site-bg{
    padding: 10vh;
    text-align: center;
    color: blanchedalmond;
    z-index: 5;
   }

   main .site-title h1, h3{
    z-index: 5;
     margin: .3rem;
     display: flex;
   }
   .site-title h3{
     display: inline;
     z-index: 5;
   }
   .site-title  h3 a{
    font-family:  Beautiful_Roses;
    font-size: 3rem;
    z-index: 5;
  }
   main .site-title .btn{
     margin: 1.8rem;
     background-color: skyblue;
     z-index: 5;
   }
   main .site-title .btn:hover{
    margin: 1.8rem;
    background-color: transparent;
    border: solid 1px white; 

  }
  /*===========Animation===========*/
.animation-area{
  width: 100%;
  height: 70vh;
  background: linear-gradient(to left, transparent, rgb(5, 5, 5), rgb(7, 6, 6));
  z-index: -3;
}

.box-area{
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: -3;
}

.box-area li{
position: absolute;
display: block;
list-style: none;
width: 25px;
height: 25px;
bottom: -150px;
z-index: -3;
animation: animate 20s linear infinite;
}

.box-area li:nth-child(1){
left: 86%;
width: 80px;
height: 80px;
background-color: rgba(10, 10, 10, 0.233);
animation-delay: 0s;
}

.box-area li:nth-child(2){
left: 12%;
width: 30px;
height: 30px;
background-color: rgba(252, 252, 252, 0.486);
animation-delay: 1.5s;
animation-duration: 10s;
}

.box-area li:nth-child(3){
left: 76%;
width: 100px;
height: 100px;
background-color: rgba(10, 10, 10, 0.233);
animation-delay: 5.5s;
}

.box-area li:nth-child(4){
left: 42%;
width: 150px;
height: 150px;
background-color: rgba(252, 252, 252, 0.486);
animation-delay: 0s;
}

.box-area li:nth-child(5){
left: 65%;
width: 40px;
height: 40px;
background-color: rgba(10, 10, 10, 0.233);
animation-delay: 0s;
}

.box-area li:nth-child(6){
left: 15%;
width: 110px;
height:110px;
background-color: rgba(252, 252, 252, 0.486);
animation-delay: 3.5s;

}

.box-area li:nth-child(7){
  left: 86%;
  width: 80px;
  height: 80px;
  background-color: rgba(10, 10, 10, 0.233);
  animation-delay: 4s;
  }
  
  .box-area li:nth-child(8){
  left: 12%;
  width: 30px;
  height: 30px;
  background-color: rgba(252, 252, 252, 0.486);
  animation-delay: 1.5s;
  animation-duration: 20s;
  }
  
  .box-area li:nth-child(9){
  left: 76%;
  width: 100px;
  height: 100px;
  background-color: rgba(10, 10, 10, 0.233);
  animation-delay: 15.5s;
  }
  
  .box-area li:nth-child(10){
  left: 42%;
  width: 150px;
  height: 150px;
  background-color: rgba(252, 252, 252, 0.486);
  animation-delay: 10s;
  }
  
  .box-area li:nth-child(11){
  left: 65%;
  width: 40px;
  height: 40px;
  background-color: rgba(10, 10, 10, 0.233);
  animation-delay: 10s;
  }
  
  .box-area li:nth-child(12){
  left: 15%;
  width: 110px;
  height:110px;
  background-color: rgba(252, 252, 252, 0.486);
  animation-delay: 13.5s;
  
  }

@keyframes animate{
0%{
    transform: translateY(0) rotate(0deg);
    opacity: 1;
}
100%{
    transform: translateY(-800px) rotate(360deg);
    opacity: 0;
}
}

/*===========Animation===========*/

/*=====X======Site title=======X=====*/



/*===========About me============*/

main .blog{
  background-color:white;
  background-repeat: no-repeat;
  background-position: right;
  padding: none;
  height: 100vh;
  width: 100% ;
}

main .blog h1{
  padding: none;
  margin: none;
}
main .blog .blog-post{
  padding-top: .6rem;
  display: flex;
  overflow: hidden;

}
main .blog-post .blog-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 30%;
  margin: .3rem 2rem;
  box-shadow: 0 15px 20px rgba(0,0,0, .2);
}
 main .blog-container .blog-title{
  padding: 2rem 0;
  
 }
 main .blog-container .blog-title h3{
  margin: 0 0 1rem 0;
   font-size: 1.8rem;
   justify-content: center;
   justify-items: center;
 }
 main.blog-container .btn-blog{
   margin: 2rem;
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  cursor: pointer;
 } 

 main .blog-container img{
   height: 50%;
 }
/*=====X======about me=======X=====*/


/*=====X======Main=======X=====*/




