*{
    margin: 0;
    padding: 0;
}
html body{
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: Black;
	background-color: white;
	text-rendering: optimizeLegibility;
}


#logo{
	margin-top: none;
	display: block;
	position: fixed;
	background-color:   rgba(32, 35, 37, 0.8);
	z-index: 10;
	top: 0px;
}
span {
    font-size: 30px;
    font-family: Lucida Handwriting;
    color: white;
}

span i{
    font-size: 30px;
    font-weight: 300px;
    font-family: fantasy;
    color: goldenrod;
}

#mick{
    font-size: 20px;
    font-family: Vivaldi;
    color: white
}

a{
	text-decoration: none;
	color: initial;
	transition: color;
	text-align: center;
}
header{
	width: 100%;
	height: 100vh;
	background-color:   rgba(32, 35, 37, 0.8);
	background-size: cover;
	background-position: center;
	border-bottom: lightgrey 1px solid;
}

.navheader{
	display:flex;
	align-items: center;
    background-color: rgba(32, 35, 37, 0.8);
	justify-content: space-between;
	height: max-content;
	z-index: 2;
}



ul{
	list-style-type: none;
	text-align: center;
	font-family: Old English Text MT;
}

nav .list>li{
	display: inline-block;
	padding: 1rem 2rem 1rem 1rem;
	vertical-align: middle;
}

.sub li{
	padding: 2px 2px 2px 0px;
	text-align: center;
	height: 100%;
	width: max-content;

}

.list>li>a:link, .list>li>a:visited {
	text-decoration: none;
	font-weight: 500;
	font-size: 13px;
	color: white;
	letter-spacing: 1px;
	word-spacing: 2px;
	line-height: 1.5;
	transition: color 1s;
	transition: font-size .8s;
}

.list li a:hover, .list li a:active, .sub a:hover{
	color:goldenrod;
	font-size: 20px;
	background-color: transparent;
	transition: color 1s;
	transition: font-size .8s;
	width: 100%;
	z-index: 5;

}

li{
	width: max-content;
	line-height:25px ;
}

.sub{
	display:none;
	position: absolute;
	margin-top: 10px;
	vertical-align: middle;
	text-align: center;
	z-index: 5;
	}

nav > ul li:hover .sub{
	text-align: center;
	display: block;
	text-decoration: none;
	width: max-content;
	padding-bottom: 0px;
	transition: display  1s;
	
}



.center{
	margin: 3% 10% 0 1.5%;
	width: 1225px;
	height: 500px;
	background-image: url(IMG-20201105-WA0079.jpeg);
	background-size: 1px 1px ;
	background-position: center;
	transition: background-size, 1s;
	z-index: 1;
}

header:hover .center{
	margin: 0;
	width: 100%;
	height: 620px;
	background-image: url(IMG-20201105-WA0079.jpeg);
	background-size: 100% 620px ;
	background-position: center;
	transition: background-size, 1s;
}

.fname{
	padding-left: 10%;
	width: max-content;
	font-weight: 400;
	text-align: center;
	font-size: 80px;
	font-family: Edwardian Script ITC;
	color: honeydew;
}

header:hover .fname{
	background-color: #7a7a7a66;
	color:  #ffc107;
	transition: background-color, 1s;
}

header:hover .fname + .fprof{
	color: white;
	font-size: 30px;
	transition: background-color, 1s;
}

.fprof{
	padding-left: 16%;
	font-family:Park Avenue;
	text-align: center;
	font-weight: bolder;
	font-size: 20px;
	color:  #ffc107;
}

.contain{
	position: absolute;
	padding: 20% 10% 0 10%;
}

.next{
	width: 0px;
	height: 50px;
	text-align: center;
	background-color: lightgrey;
	margin-top: 2px;
	font-family: sans-serif;
	font-size: 0px;
	transition: width 1s;

}

header:hover .next{
	width: 100%;
	height: 50px;
	text-align: center;
	background-color: lightgrey;
	margin-top: 2px;
	font-family: sans-serif;
	font-size: 20px;
	transition: width 1s;
}

section{
	width: 100%;
	height: 100hv;
}
.fimg{
	position: relative;
	width: 1150px;
	height: 400px;
	margin: 3% 4.5% 0 4%;
}
.my-picture{
	position: relative;
	height: 600px;
	width: 300px;
	left: 200px;
	top: -150px;
	border: beige solid 2px;
	margin-right:5px ;
	z-index: 2;
	box-shadow: lightgrey 2px;

}

.about-me{
	display: relative;
	justify-content: space-between;
	align-items: center;
}

.about-me div{
	font-family: 'Times New Roman', Times, serif;
	display: block;
	position: relative;
	text-align: justify;
	width: 280px;
	height: 400px;
	line-height: 22px;
}
.about-me label{
	font-weight: 700;
}

h3{
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	padding: 5px 0 5px 0;
	text-align: center;
}

.civil-div{
	display: block;
	float: left;
	left: 520px;
	top: -600px;
}

.cv-div{
	display: block;
	float: left;
	left: 620px;
	top: -600px;
}
.pro-div{
	display: block;
	float: left;
	left: -40px;
	top: -300px;
}
.hob-div{
	display: block;
	float: left;
	left: 60px;
	top: -300px;
}

.stopfloat{
	clear: both;
}
