body{
    padding:0px;
    margin: 0px;
    height: 100hv;
    display: inline; 
}

.img1{
    width: 100%;
    height: 200px;
    margin-bottom: 0px;
}

.img2{
    float: left;
    position: relative;
    width: 20%;
    height: 300px;
    box-shadow: 0 2px 2px 2px black;
    left: 20px;
    top: -40px;
    margin-right: 50px;
}

div{
    display: inline-block;
    background-color: grey;
    width: 70%;
}
h1{
    font-family: Harrington;
    text-align: center;
    border-top: black 5px double;
    border-bottom: black 5px double;
}

h1{
    font-family: Harrington;
    text-align: center;
    border-top: goldenrod 5px double;
    border-bottom: goldenrod 5px double;
    font-size: 3rem;
    color: honeydew;
    transition: all, .8s;
    margin-bottom: 5px;
}

p{
    padding-left: 10px;
    letter-spacing: 2px;
    text-shadow: 0 1px 1px lightgrey;0
    text-align: center;
    font-size: 18.7px;
    margin-top: 0;

}
