img{
    width: 100%;
    height: 300px;
    margin: none   ;
}
.speaker1 ,.speaker2{
    width: 45%;
    padding: 0%;

}
.me{
    width: 35%;
    height: 250px;
    border-radius:10px;
    float: left;
    margin: 0 0px 0 2px;
}

.naoussi{
    width: 35%;
    height: 250px;
    border-radius:10px;
    margin: 0 0px 0 2px;
}


div{
    vertical-align: top;
    width: 45%;
    display: inline-block;
    padding-left: 10px;
    margin-bottom: 50px;
}

