body{
    width: 92%;
    padding: 0 4% 0 4%;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to bottom, transparent, rgba(0 , 0 , 0 , 1));
    text-align: center;
}

header{
    background-color: rgba(0, 0, 0, .5);
    margin: 0;
    width: 100%;
    height: 5em;
    padding: 0%;
    text-align: center;
}

.main{
    text-align: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0%;
    padding-left: 0;
    color: white;
}

.main>li{
    margin: 1.25em 0 .3em 0;
    display: inline-block;
    width: 15%;
    height: 100%;
    padding: 0;
}


a{
    text-decoration: none;
    text-align: center;
    color: goldenrod;
    font-family: Old English Text MT;

}
li:hover{
    padding: 0;
    margin: 0;
}
li:hover>a{
    font-size: 1.3em;
    color: white;
    transition: all , .2s;
    }

    .drop{
        position: relative;
        text-align: center;
        width: 100%;
        height: 100%;
        margin: .5em;
        padding: 0%;
        color: white;
        z-index: 5;
    }
    

.drop li{
    display: none;
    text-decoration: none;
}

.main>li:hover .drop li{
    position: relative;
    float: left;
    display: block;
    text-decoration: none;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 2;
}


iframe{
    position: relative;
    width: 100%;
    height: 80%;
    background-color: rgba(15 , 15 , 10 , .4);
    border: 0;
    z-index: 1;
}

i{
    color: aqua;
}
b{
    color: bisque;
    font-size: 30px;
}